<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/global.css">
    <h1 class="title">The Philippine Commodity Price Predictor 📈</h1>
    <h2 class="subtitle">A CS 180 Project by Herminio Gregorio, Ali Jafri, and Ayen Manguan</h2>
</head>
<body>

    <form action="/predict" method="POST">
        <h1 class="form-label">Fill out the form below then click the button!</h1>       
        
        <div class="input-group">
            <label class="label" for="commodity">Commodity:</label>
            <select class="input-box" id="commodity" name="commodity">
                <option class= selected disabled>Select Commodity</option>
                <option value="Anchovies">Anchovies</option>
                <option value="Bananas (lakatan)">Bananas (lakatan)</option>
                <option value="Bananas (latundan)">Bananas (latundan)</option>
                <option value="Bananas (saba)">Bananas (saba)</option>
                <option value="Beans (green, fresh)">Beans (green, fresh)</option>
                <option value="Beans (mung)">Beans (mung)</option>
                <option value="Beans (string)">Beans (string)</option>
                <option value="Bitter melon">Bitter melon</option>
                <option value="Bottle gourd">Bottle gourd</option>
                <option value="Cabbage (chinese)">Cabbage (chinese)</option>
                <option value="Cabbage">Cabbage</option>
                <option value="Calamansi">Calamansi</option>
                <option value="Carrots">Carrots</option>
                <option value="Chicken">Chicken</option>
                <option value="Choko">Choko</option>
                <option value="Coconut">Coconut</option>
                <option value="Crab">Crab</option>
                <option value="Eggplants">Eggplants</option>
                <option value="Eggs (duck)">Eggs (duck)</option>
                <option value="Eggs">Eggs</option>
                <option value="Fish (fresh)">Fish (fresh)</option>
                <option value="Fish (frigate tuna)">Fish (frigate tuna)</option>
                <option value="Fish (mackerel, fresh)">Fish (mackerel, fresh)</option>
                <option value="Fish (milkfish)">Fish (milkfish)</option>
                <option value="Fish (redbelly yellowtail fusilier)">Fish (redbelly yellowtail fusilier)</option>
                <option value="Fish (roundscad)">Fish (roundscad)</option>
                <option value="Fish (slipmouth)">Fish (slipmouth)</option>
                <option value="Fish (threadfin bream)">Fish (threadfin bream)</option>
                <option value="Fish (tilapia)">Fish (tilapia)</option>
                <option value="Garlic (large)">Garlic (large)</option>
                <option value="Garlic (small)">Garlic (small)</option>
                <option value="Garlic">Garlic</option>
                <option value="Ginger">Ginger</option>
                <option value="Groundnuts (shelled)">Groundnuts (shelled)</option>
                <option value="Groundnuts (unshelled)">Groundnuts (unshelled)</option>
                <option value="Maize (white)">Maize (white)</option>
                <option value="Maize (yellow)">Maize (yellow)</option>
                <option value="Maize flour (white)">Maize flour (white)</option>
                <option value="Maize flour (yellow)">Maize flour (yellow)</option>
                <option value="Mandarins">Mandarins</option>
                <option value="Mangoes (carabao)">Mangoes (carabao)</option>
                <option value="Mangoes (piko)">Mangoes (piko)</option>
                <option value="Meat (beef)">Meat (beef)</option>
                <option value="Meat (beef, chops with bones)">Meat (beef, chops with bones)</option>
                <option value="Meat (chicken, whole)">Meat (chicken, whole)</option>
                <option value="Meat (pork)">Meat (pork)</option>
                <option value="Meat (pork, hock)">Meat (pork, hock)</option>
                <option value="Meat (pork, with bones)">Meat (pork, with bones)</option>
                <option value="Meat (pork, with fat)">Meat (pork, with fat)</option>
                <option value="Oil (cooking)">Oil (cooking)</option>
                <option value="Onions (red)">Onions (red)</option>
                <option value="Onions (white)">Onions (white)</option>
                <option value="Papaya">Papaya</option>
                <option value="Pineapples">Pineapples</option>
                <option value="Potatoes (Irish)">Potatoes (Irish)</option>
                <option value="Rice (milled, superior)">Rice (milled, superior)</option>
                <option value="Rice (paddy)">Rice (paddy)</option>
                <option value="Rice (premium)">Rice (premium)</option>
                <option value="Rice (regular, milled)"> Rice (regular, milled)</option>
                <option value="Rice (special)">Rice (special)</option>
                <option value="Rice (well milled)">Rice (well milled)</option>
                <option value="Semolina (white)">Semolina (white)</option>
                <option value="Semolina (yellow)">Semolina (yellow)</option>
                <option value="Shrimp (endeavor)">Shrimp (endeavor)</option>
                <option value="Shrimp (tiger)">Shrimp (tiger)</option>
                <option value="Squashes">Squashes</option>
                <option value="Sugar (brown)">Sugar (brown)</option>
                <option value="Sugar (white)">Sugar (white)</option>
                <option value="Sweet Potato leaves">Sweet Potato leaves</option>
                <option value="Sweet potatoes">Sweet potatoes</option>
                <option value="Taro">Taro</option>
                <option value="Tomatoes">Tomatoes</option>
                <option value="Water spinach">Water spinach</option>
            </select>
        </div>

        <div class="input-group">
            <label class="label" for="year">Year:</label><br>
            <input class="input-box" type="number" id="year" name="year" value="2030"><br>
        </div>

        <div class="input-group">
            <label class=label for="month">Month:</label><br>
            <select class="input-box" id="month" name="month">
                <option class= selected disabled>Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <!-- <input type="number" id="month" name="month" placeholder="Select Year"><br> -->
        </div>

        <div class="input-group">
            <label class=label for="priceflag">Price Flag:</label><br>
            <select class="input-box" id="priceflag" name="priceflag">
                <option class= selected disabled>Select Price Flag</option>
                <option value="actual">Actual Price</option>
                <option value="aggregate">Aggregate Price</option>
            </select>
            <!-- <input type="text" id="priceflag" name="priceflag" value="actual"><br> -->
        </div>

        <div class="input-group">
            <label class=label for="pricetype">Price Type:</label><br>
            <select class="input-box" id="pricetype" name="pricetype">
                <option class= selected disabled>Select Price Type</option>
                <option value="Retail">Retail Price</option>
                <option value="Wholesale">Wholesale Price</option>
            </select>
            <!-- <input type="text" id="pricetype" name="pricetype" value="Retail"><br> -->
        </div>
        
        <div class="input-group">
            <label class=label for="region">Region:</label><br>
            <select class="input-box input-box-region" id="region" name="region">
                <option class= selected disabled>Select Region</option>
                <option value="0">Autonomous Region in Muslim Mindanao (ARMM)</option>
                <option value="1">Cordillera Administrative Region (CAR)</option>
                <option value="2">National Capital Region (NCR)</option>
                <option value="3">Region I</option>
                <option value="4">Region II</option>
                <option value="5">Region III</option>
                <option value="6">Region IV-A</option>
                <option value="7">Region IV-B</option>
                <option value="9">Region V</option>
                <option value="10">Region VI</option>
                <option value="11">Region VII</option>
                <option value="12">Region VIII</option>

                <option value="8">Region IX</option>
                <option value="13">Region X</option>
                <option value="14">Region XI</option>
                <option value="15">Region XII</option>
                <option value="16">Region XIII</option>
            </select>
            <!-- <input type="number" id="region" name="region" value="1"><br> -->
        </div>
            <input class="button" type="submit" value="Predict Price!">
    </form>
</body>
</html>