<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/global.css">
    <h1 class="title">The Philippine Commodity Price Predictor 📈</h1>
    <!-- <h3 class="description">A predictive Linear Regression Model that attempts to accurately forecast commodity prices for future months and years using the <span class="font-bold">Philippine Food Prices Dataset</span></h3> -->
    <h2 class="subtitle">A CS 180 Project developed by Herminio Gregorio, Ali Jafri, and Ayen Manguan</h2>
</head>
<body>

    <form action="/predict" method="POST">
        <h1 class="form-label">Fill out the form below then click the button!</h1>  
        
        <div class="input-group">
            <label class=label for="category">Category:</label>
            <select class="input-box" id="category" name="category" onchange="updateCommodity()">
                {% for category in categories.keys() %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select><br>
        </div>
    
        <div class="input-group">
            <label class=label for="commodity">Commodity:</label>
            <select class="input-box" id="commodity" name="commodity"></select><br>       
        </div>

        <div class="input-group">
            <label class="label" for="year">Year:</label><br>
            <input class="input-box" type="number" id="year" name="year" value="2030"><br>
        </div>

        <div class="input-group">
            <label class="label" for="month">Month:</label><br>
            <select class="input-box" id="month" name="month">
                <option class= selected disabled>Select Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <!-- <input type="number" id="month" name="month" placeholder="Select Year"><br> -->
        </div>

        <div class="input-group">
            <label class=label for="priceflag">Price Flag:</label><br>
            <select class="input-box" id="priceflag" name="priceflag">
                <option class= selected disabled>Select Price Flag</option>
                <option value="actual">Actual Price</option>
                <option value="aggregate">Aggregate Price</option>
            </select>
            <!-- <input type="text" id="priceflag" name="priceflag" value="actual"><br> -->
        </div>

        <div class="input-group">
            <label class=label for="pricetype">Price Type:</label><br>
            <select class="input-box" id="pricetype" name="pricetype">
                <option class= selected disabled>Select Price Type</option>
                <option value="Retail">Retail Price</option>
                <option value="Wholesale">Wholesale Price</option>
                <option value="Farm Gate">Farm Gate Price</option>
            </select>
            <!-- <input type="text" id="pricetype" name="pricetype" value="Retail"><br> -->
        </div>
        
        <div class="input-group">
            <label class=label for="region">Region:</label><br>
            <select class="input-box input-box-region" id="region" name="region">
                <option class= selected disabled>Select Region</option>
                <option value="0">Autonomous Region in Muslim Mindanao (ARMM)</option>
                <option value="1">Cordillera Administrative Region (CAR)</option>
                <option value="2">National Capital Region (NCR)</option>
                <option value="3">Region I</option>
                <option value="4">Region II</option>
                <option value="5">Region III</option>
                <option value="6">Region IV-A</option>
                <option value="7">Region IV-B</option>
                <option value="9">Region V</option>
                <option value="10">Region VI</option>
                <option value="11">Region VII</option>
                <option value="12">Region VIII</option>

                <option value="8">Region IX</option>
                <option value="13">Region X</option>
                <option value="14">Region XI</option>
                <option value="15">Region XII</option>
                <option value="16">Region XIII</option>
            </select>
            <!-- <input type="number" id="region" name="region" value="1"><br> -->
        </div>
            <input class="button" type="submit" value="Predict Price!">
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var categories = {{ categories | tojson | safe }};
        function updateCommodity() {
            var categorySelect = document.getElementById("category");
            var commoditySelect = document.getElementById("commodity");
            var selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;
            var commodities = categories[selectedCategory];
            commoditySelect.innerHTML = "";
            for (var i = 0; i < commodities.length; i++) {
                var option = document.createElement("option");
                option.text = commodities[i];
                commoditySelect.add(option);
            }
        }
        window.onload = updateCommodity;

        $("#predict-form").submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: '/predict',
                type: 'POST',
                data: $(this).serialize(),
                success: function(data) {
                    $("#prediction-result").html("Prediction: " + data);
                }
            });
        });
        </script>
</body>
</html>