<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/global.css">
    <h1 class="title">The Philippine Commodity Price Predictor 📈</h1>
    <h2 class="subtitle">A CS 180 Project developed by Herminio Gregorio, Ali Jafri, and Ayen Manguan</h2>
</head>
<body>
    <div class="result">From the linear regression model, the predicted price of 
        <span class="font-bold underline">{{commodity}}</span> in 
        <span class="font-bold underline">{{region}}</span> in 
        <span class="font-bold underline">{{month}} {{year}}</span> is:
        <br>
        <p class="prediction">{{prediction}}</p> 
    </div>
    
</body>
</html>